<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Prescriptions</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="table-responsive">
                    <table id="prescriptionTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Medication Name</th>
                                <th>Prescription Number</th>
                                <th>DIN Number</th>
                                <th>Doctor Name</th>
                                <th>Quantity</th>
                                <th>Refill Frequency</th>
                                <th>Expiration Date</th>
                                <th>How to Apply/Dosage</th>
                                <th></th> <!--for edit button-->
                                <!--<th></th>--><!--for refill input-->
                                <!--<th></th>--><!--for refill button-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prescription in prescHistory">
                                <td>{{prescription.name}}</td>
                                <td>{{prescription.prescNum}}</td>
                                <td>{{prescription.DIN}}</td>
                                <td>{{prescription.doctor}}</td>
                                <td>{{prescription.quantity}}</td>
                                <td>{{prescription.refill}}</td>
                                <td>{{prescription.expiration}}</td>
                                <td>{{prescription.instructions}}</td>
                                <td>
                                    <button id="btnEdit" type="button" class="btn btn-warning btnEdit" ng-click="editPresc($event)">Edit</button>
                                </td>
                                <td></td>
                                <!--for refill input-->
                               <!-- <td><input type="text"  placeholder=" enter number of pills"><br></td> 
                                <td>
                                    <button id="btnRefill" type="button" class="btn btn-success btnRefill" ng-click="setValue()">Refill</button>
                                </td>-->
                            </tr>
                        </tbody>
                    </table>
                </div><!--end div class table-responsive-->  
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" ng-click="addPresc($event)">Add row</button>
    </div>
</div>

<div><!--particle photon button-->
    <!--test that values can be sent back and forth between particle-->
    <!--<p>User Specified number: <span id="curPos"></span><br></p>
      <p>
        Value retrieved from spark: <span id="gotPos"></span>
      </p>-->
      <br>
      <form action="demo_form.asp">
      <input type="text" id="drugIDSpec" placeholder="Enter the drug DIN number"><br>
      <input type="text" id="refillNum" placeholder="Enter the number of pills"><br>
      </form>
      <button class="btn btn-success btnRefill" ng-click="setValue()">Refill</button>
      <!--test that values can be sent back and forth between particle-->
      <!--<button ng-click="getSparkValue()">Click for spark value</button>-->

</div><!--end test spark photon button-->
