 <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Patients</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">    
                      <table class="table table-user-information" id="tblData">
                        <thead>
                            <tr>
                            <th>Patient Name</th>
                            <th>SIN Number</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Phone</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patient in patients">
                            <td>{{ patient.name}}</td>
                            <td>{{ patient.sin}}</td>
                            <td>{{ patient.gender}}</td>
                            <td>{{ patient.birth}}</td>
                            <td>{{ patient.phone}}</td>
                            <td>
                              <button id="btnEdit" type="button" class="btn btn-warning btnEdit" ng-click="editPatient($event)">Edit</button>
                            </td>
                            <td></td>
                            </tr>
                        </tbody>
                      </table> 
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button id="btnAdd" type="button" class="btn btn-danger" ng-click="addPatient($event)"><i class="glyphicon glyphicon-plus"></i> Add a Patient</button>
    </div>
</div>
