 <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Prescriptions</h3>
        <!-- test -->
        <span class="label label-info">{{ todos.length }}</span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive"> 
                     <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
                      <table class="table table-user-information" id="tblData">
                        <thead>
                            <tr>
                            <th>Medication Name</th>
                            <th>DIN Number</th>
                            <th>Description</th>
                            <th>Dosage</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="drug in drugs">
                            <td>{{ drug.name}}</td>
                            <td>{{drug.din}}</td>
                            <td>{{drug.description}}</td>
                            <td>{{drug.instructions}}</td>
                            <td>
                              <button id="btnEdit" type="button" class="btn btn-warning btnEdit" ng-click="editDrug($event)">Edit</button>
                            </td>
                            </tr>
                        </tbody>
                      </table> 
                     </form> 
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">   
        <button class="btn btn-default" ng-click="addDrug($event)">Add row</button>
    </div>

</div>
