<div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Fernadette Deung
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-table"></i> Last updated:
                                <span id="updateTimestamp">March 29, 2016</span>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
<div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" >
          <div class="panel panel-info">
                    <div ui-view="info"></div> 
            </div>
        </div>
<!--prescriptions table-->
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 " >
                    <div ui-view="columnOne"></div>
        </div>
    </div>
    <div>
<!--     <a type="button" class="btn btn-sm btn-danger pull-right"><i class="glyphicon glyphicon-remove"></i> Delete Patient</a>
    </div> -->
</div>
</div>