<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Prescriptions</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                <div class="table-responsive">
                    <table id="prescriptionTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th>Medication Name</th>
                                <th>Prescription Number</th>
                                <th>DIN Number</th>
                                <th>Doctor Name</th>
                                <th>Quantity</th>
                                <th>Refill Frequency</th>
                                <th>Expiration Date</th>
                                <th>How to Apply/Dosage</th>
                                <th></th> <!--for edit button-->
                                <th></th><!--for refill input-->
                                <th></th><!--for refill button-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="prescription in prescHistory">
                                <td>{{prescription.name}}</td>
                                <td>{{prescription.prescNum}}</td>
                                <td>{{prescription.DIN}}</td>
                                <td>{{prescription.doctor}}</td>
                                <td>{{prescription.quantity}}</td>
                                <td>{{prescription.refill}}</td>
                                <td>{{prescription.expiration}}</td>
                                <td>{{prescription.instructions}}</td>
                                <td>
                                    <button id="btnEdit" type="button" class="btn btn-warning btnEdit" ng-click="editPresc($event)">Edit</button>
                                </td>
                                <td><input type="text"  placeholder=" enter number of pills"><br></td> <!--for refill input-->
                                <td>
                                    <button id="btnRefill" type="button" class="btn btn-success btnRefill" ng-click="refill()">Refill</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--end div class table-responsive-->  
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-default" ng-click="addPresc($event)">Add row</button>
    </div>
</div>

<div><!--test spark photon button-->
    <p>User Specified number: <span id="curPos"></span><br></p>
      <p>
        Value retrieved from spark: <span id="gotPos"></span>
      </p>
      <br>
      <form action="demo_form.asp">
      test int input: <input type="text" id="degBoxId"><br>
      </form>
      <button onclick="setValue()">send number of pills</button>
      <button onclick="getSparkValue()">Click for spark value</button>

        <script type="text/javascript">
          var deviceID    = "1a003a001247343339383037";
          var accessToken = "d049cd8a80da947956c2421bc3bb5ae2fbf34d5e";
          var setFunc = "setVal";
          var getFunc = "getVal";
          function setValue() {
            console.log("got to setValue");
            var newValue = document.getElementById('degBoxId').value;
            console.log("newValue as of setValue: " + newValue);
            sendSparkPills(newValue);
          }
          function sendSparkPills(newValue) {
        var requestURL = "https://api.spark.io/v1/devices/" +deviceID + "/" + setFunc + "/";
            $.post( requestURL, { params: newValue, access_token: accessToken });
            //display on web page
            document.getElementById("curPos").innerHTML = newValue;
          }
        function getSparkValue(){
          requestURL = "https://api.spark.io/v1/devices/" + deviceID + "/" + getFunc + "/?access_token=" + accessToken;
            $.getJSON(requestURL, function(json) {
                     document.getElementById("gotPos").innerHTML = json.result;
                     });
        }
        </script>
</div><!--end test spark photon button-->
