 <div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Patients</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive"> 
                     <form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">     
                      <table class="table table-user-information" id="tblData">
                        <thead>
                            <tr>
                            <th>Patient Name</th>
                            <th>SIN Number</th>
                            <th>Gender</th>
                            <th>Date of Birth</th>
                            <th>Phone</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patient in patients | filter:filterPatient">
                            <!-- <td>{{patient.name}}</td> -->
                            <td>
                              <!-- editable name (text with validation) -->
                              <span editable-text="patient.name" e-form="tableform">
                                {{ patient.name || 'empty' }}
                              </span>
                            </td>
                            <td>
                              <span editable-text="patient.sin" e-form="tableform">
                                {{ patient.sin || 'empty' }}
                              </span>
                            </td>
                            <td>
                              <span editable-text="patient.gender" e-form="tableform">
                                {{ patient.gender || 'empty' }}
                              </span>
                            </td>
                            <td>
                              <span editable-text="patient.birth" e-form="tableform">
                                {{ patient.birth || 'empty' }}
                              </span>
                            </td>
                            <td>
                              <span editable-text="patient.phone" e-form="tableform">
                                {{ patient.phone || 'empty' }}
                              </span>
                            </td>
                            <td><button type="button" ng-show="tableform.$visible" ng-click="deletePatient(patient.id)" class="btn btn-danger pull-right">Del</button></td>
                            </tr>
                        </tbody>
                      </table> 
                     </form>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">Edit</button>

        <div class="btn-form" ng-show="tableform.$visible">
          <button type="button" ng-disabled="tableform.$waiting" ng-click="addPatient()" class="btn btn-default pull-right">add row</button>
          <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
          <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
        </div> 
    </div>
</div>
